<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to :
  </h1><br>
  <h1>
    {{ title }}!
  </h1>
  <div>
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <app-wager></app-wager>
        </div>
        <div class="w-col w-col-4">
          <div class="div-block">
            <h1>Heading</h1>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="div-block">
            <h1>Heading</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
